body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
    margin: 0; /* Reset default margin */
    padding-bottom: 100px; /* Add padding to the bottom to create space for the footer */
    min-height: 100vh; /* Ensure body fills the viewport height */
    position: relative; /* Ensure proper positioning */
}

footer {
  text-align: center; /* 文字置中 */
  position: fixed; /* 固定在底部 */
  left: 0; /* 拉伸到左邊 */
  bottom: 0; /* 拉伸到底部 */
  width: 100%; /* 撐滿整個寬度 */

}
nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 6em;
    letter-spacing: -2px;
}

h1 strong {
    font-size: 0.5em;
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Add a specific style for the post-container */
.post-container {
    display: flex; /* Use flexbox to arrange children in a row */
    justify-content: space-between; /* Distribute space evenly between children */
    margin-top: 20px; 
    

  }
  
/* Add a specific style for each post */
.post {
    /* Your custom styles for each post */
    width: 40%; /* Set the width to fit two posts in a row with some spacing */
    background: #212431;
    border-radius: 30px;
    padding: 20px;
   
   
  }
  
/* Add a specific style for h2 elements within the post */
.post h2 {
    /* Your custom styles for h2 within each post */
    color: #ffffff; /* White text color */
    font-size: 1.5em; /* Smaller font size */
    /* Add any other styles as needed */
  }

  /* Style the paragraph with a maximum of four lines */
p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px; /* Add space after the truncated paragraph */
  }
  
  /* Style the "Read More" link */
 p a {
    color: #31e4eb; /* Green color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Add a smooth transition effect for color changes */
  }
  
  /* Change the color of the "Read More" link after being clicked */
 p a:hover {
    color: #ffffff; /* White color after click */
    text-decoration: underline;
  }

img.about {
    opacity: 0.5;
}

